/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.body {
  font-family: 'Roboto', sans-serif;
}

/*HEADER STYLES*/
.brand {
  font-family: 'Satisfy', cursive;
  color: #FD837E; //base orange
  font-size: 24px;
}

.logo {
  height: 92px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: transparent;
    color: #69B1E4; //Powder Blue
    font-size: 20px;
}

.nav-pills>li>a {
  color: #69B1E4;
  font-size: 20px;
}

/*JUMBOTRON STYLES START*/
.jumbotron {
  background-image: url('../img/hero.jpg');
  height: 475px;
  background-position: center;
  background-size: cover;
}

.jumbotron>p {
  color: #fff;
  font-size: 2em;
}
